body {
    margin: 40px;
    padding: 10px;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    font-size: 18px;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header ul li {
    padding: 30px;
}

.header ul li:hover{
    box-shadow: 5px 5px 5px gray;
    background-color: orange;
    margin: 2px;
}

.header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
ul{
    list-style: none;
}

.list3{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
form input{
    border: 3px solid orange;
    display: flex;
    padding: 10px;
}

#getstarted{
    background-color: orange;
}


#two{
    margin-top: 200px;
}
#two ul {
    list-style: none;
    display: flex;
    
}

#two li {
    margin: 0 10px; 
    padding: 20px;
}

#two button {
    border: 2px solid gray;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}
.car1{ 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 50px; 
}
button{
    background-color: orange;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
#land{
    float: right;
    margin-right: 300px;
    position: relative; 
    bottom:200px;
}
